<ons-dialog var="signature-capture-dialog" style="width:660px;top:35%">

    <ons-toolbar inline>
      <div class="center">
        <strong>Customer Signature</strong>
      </div>
    </ons-toolbar>
    
   	<form novalidate="novalidate" autocomplete="off" name="form" class="form-default" style="margin: 20px; width: 620px;">
   	
	<div class="input-group">
		<canvas id="signature-pad" class="signature-pad" width="620px" height="300px" style="background-color: rgb(227, 236, 247)"></canvas>	
	</div>
	
	
	<div class="input-group">
		<ons-row>
			<ons-col>
				<ons-button class="button--large button--outline" ng-click="signature_capture_dialog.hide()">Cancel</ons-button>
			</ons-col>
			<ons-col>
				&nbsp;
			</ons-col>
			
			<ons-col>
				<ons-button class="button--large button--outline" style="margin-left:-10px;" ng-click="clearSignature()">Reset</ons-button>
			</ons-col>
			
			<ons-col>
				<ons-button class="button--large" style="border:1px solid #4383cd;">OK</ons-button>
			</ons-col>
			
		</ons-row>
	</div>
	
	</form>
    
</ons-dialog>